    style
        .div0{
            border-style: 4x;
            border-color: slategray;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 40px;
        color:red;
        }